$text-color: rgb(107, 107, 107);

$icon-arrow-color: rgb(0, 82, 0);
$icon-arrow-hover-color: rgb(255, 109, 109);

$kmom-box-border-color: rgba(0, 0, 0, 0.3);
$kmom-box-background-color: rgb(242, 255, 169);
