@import 'color-variables';

.landingpage {
    display: grid;
    gap: 1em 1em;
    padding: 0 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    border: 1px solid $kmom-box-border-color;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $kmom-box-background-color;
}

.kmom-box.project {
    grid-column: span 3;
}


@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 4;
    }
}

.arrow-icon {
    padding: 16px;
    align-self: flex-end;
    color: $icon-arrow-color;
}

.arrow-icon:hover {
    color: $icon-arrow-hover-color;
}
